{% extends 'base.html.twig' %}

{% block title %}Liste des Stocks{% endblock %}

{% block body %}
    <h1>Liste des Stocks expédié</h1>

    <table class="table">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Produit</th>
                <th>Quantité</th>
                <th>Unité</th>
                <th>Date</th>
                <th>Numéro début</th>
                <th>Numéro fin</th>
                <th>Date d'expiration</th>
                <th>Observation</th>
                <!-- <th>actions</th> -->
            </tr>
        </thead>
        <tbody>
        {% for mouvement in mouvements %}
            <tr>
                <!-- <td>{{ mouvement.id }}</td> -->
                <td>{{ mouvement.produit }}</td>
                <td>{{ mouvement.quantite }}</td>
                <td>{{ mouvement.Unite }}</td>
                <td>{{ mouvement.date ? mouvement.date|date('d/m/Y') : '' }}</td>
                <td>{{ mouvement.debutSerie }}</td>
                <td>{{ mouvement.finSerie }}</td>
                <td>{{ mouvement.expiration }}</td>
                <td>{{ mouvement.observation }}</td>
                <!-- <td>
                    <a href="{{ path('app_stock_show', {'id': mouvement.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_stock_edit', {'id': mouvement.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td> -->
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <a href="{{ path('app_stock_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a> -->
{% endblock %}
