{% extends 'base.html.twig' %}

{% block title %}Liste des Services et CENSERO{% endblock %}

{% block body %}
    <h1>Liste des Services et CENSERO</h1>

    <table class="table">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Nom</th>
                <th>Sigle</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <!-- <td>{{ service.id }}</td> -->
                <td>{{ service.nom }}</td>
                <td>{{ service.sigle }}</td>
                <td>{{ service.mail }}</td>
                <td>{{ service.telephone }}</td>
                <td>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
