{% extends 'base.html.twig' %}

{% block title %}Liste des Conversions{% endblock %}

{% block body %}
    <h1>Liste des Conversions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conversion in conversions %}
            <tr>
                <td>{{ conversion.id }}</td>
                <td>{{ conversion.quantite }}</td>
                <td>
                    <a href="{{ path('app_conversion_show', {'id': conversion.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_conversion_edit', {'id': conversion.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_conversion_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
