{% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item" style="background-color:#0b7adb;">
        <a href="#" class="nav-link">
            <p>Donnée de base</p>
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a href="{{ path('app_conversion_index') }}" class="nav-link">
            <p>Conversions</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_etat_index') }}" class="nav-link">
            <p>Etats</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_fournisseur_index') }}" class="nav-link">
            <p>Fournisseurs</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_genre_produit_index') }}" class="nav-link">
            <p>Genres des produits</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_historique_materiel_index') }}" class="nav-link">
            <p>Historiques des matériels</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_materiel_index') }}" class="nav-link">
            <p>Matériels</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_mouvement_index') }}" class="nav-link">
            <p>Mouvements</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_produit_index') }}" class="nav-link">
            <p>Produits</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_service_index') }}" class="nav-link">
            <p>Services</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_stock_index') }}" class="nav-link">
            <p>Stocks</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_type_mouvement_index') }}" class="nav-link">
            <p>Types des Mouvements</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_type_produit_index') }}" class="nav-link">
            <p>Types des Produits</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_unite_index') }}" class="nav-link">
            <p>Unités</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_index') }}" class="nav-link">
            <p>Utilisateurs</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <p>&nbsp;</p>
        </a>
    </li>
{% endif %}