{% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item" style="background-color:#0b7adb;">
        <a href="#" class="nav-link">
            <p>Donnée de base</p>
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a href="{{ path('app_conversion_index') }}" class="nav-link">
            <p>Conversion</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_etat_index') }}" class="nav-link">
            <p>Etat</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_fournisseur_index') }}" class="nav-link">
            <p>Fournisseur</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_genre_produit_index') }}" class="nav-link">
            <p>Genre produit</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_historique_materiel_index') }}" class="nav-link">
            <p>Historique matériel</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_materiel_index') }}" class="nav-link">
            <p>Materiel</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_mouvement_index') }}" class="nav-link">
            <p>Mouvement</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_produit_index') }}" class="nav-link">
            <p>Produit</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_service_index') }}" class="nav-link">
            <p>Service</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_stock_index') }}" class="nav-link">
            <p>Stock</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_type_mouvement_index') }}" class="nav-link">
            <p>Type mouvement</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_type_produit_index') }}" class="nav-link">
            <p>Type Produit</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_unite_index') }}" class="nav-link">
            <p>Unite</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_index') }}" class="nav-link">
            <p>Utilisateur</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <p>&nbsp;</p>
        </a>
    </li>
{% endif %}