{% if is_granted('ROLE_RESPONSABLE_STOCK') %}
    <li class="nav-item" style="background-color:#0b7adb;">
        <a href="#" class="nav-link">
            <p>Gestion de Stock</p>
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a href="{{ path('app_etat_stock_liste') }}" class="nav-link">
            <p>Etat des Stocks</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_expedition_stock_liste') }}" class="nav-link">
            <p>Expédition</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_stock_reception_liste') }}" class="nav-link">
            <p>Réception</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_stock_commande_new') }}" class="nav-link">
            <p>Commande</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_stock_ajout_new') }}" class="nav-link">
            <p>Ajout de Stock</p>
        </a>
    </li>
    <hr>
{% endif %}