{% if is_granted('ROLE_GESTIONNAIRE') %}
    <li class="nav-item" style="background-color:#0b7adb;">
        <a href="#" class="nav-link">
            <p>Gestion des Approsionnements</p>
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a href="{{ path('app_etat_stock_liste_approvisionnement') }}" class="nav-link">
            <p>Etat de stock de Consommable</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_etat_materiel_liste_approvisionnement') }}" class="nav-link">
            <p>Etat de stock de Matériel</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_stock_expedition_new') }}" class="nav-link">
            <p>Expédition de Consommable</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_expedition_stock_liste') }}" class="nav-link">
            <p>Expédition de Matériel</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_expedition_stock_liste') }}" class="nav-link">
            <p>Recouvrement de Matériel</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_stock_ajout_fournisseur') }}" class="nav-link">
            <p>Réception de Consommable</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_materiel_ajout_new') }}" class="nav-link">
            <p>Réception de Matériel</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_etat_stock_liste') }}" class="nav-link">
            <p>Etat de consommation de Consommable</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_etat_stock_liste') }}" class="nav-link">
            <p>Etat de consommation de Matériel</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_etat_stock_liste') }}" class="nav-link">
            <p>Renvoi de Consommable</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_etat_stock_liste') }}" class="nav-link">
            <p>Renvoie de Matériel</p>
        </a>
    </li>
    <hr>
{% endif %}