{% extends 'base.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block body %}
    <h1>Materiel</h1>

    <table class="table">
        <tbody>
            <!-- <tr>
                <th>Id</th>
                <td>{{ materiel.id }}</td>
            </tr> -->
            <tr>
                <th>Date</th>
                <td>{{ materiel.date ? materiel.date|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ materiel.reference }}</td>
            </tr>
            <tr>
                <th>Numéro de Série</th>
                <td>{{ materiel.serie }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ materiel.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_materiel_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}" class="btn btn-success kl-bouton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
    <br>
    {{ include('materiel/_delete_form.html.twig') }}
{% endblock %}
