{% extends 'base.html.twig' %}

{% block title %}Liste des Stocks{% endblock %}

{% block body %}
    <h1>Liste des Stocks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Unité</th>
                <th>Date</th>
                <!-- <th>actions</th> -->
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.produit }}</td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.Unite }}</td>
                <td>{{ stock.date ? stock.date|date('d/m/Y H:i:s') : '' }}</td>
                <!-- <td>
                    <a href="{{ path('app_stock_show', {'id': stock.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td> -->
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <a href="{{ path('app_stock_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a> -->
{% endblock %}
