{% extends 'base.html.twig' %}

{% block title %}Liste des Genres de Produit{% endblock %}

{% block body %}
    <h1>Liste des Genres de Produit</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre_produit in genre_produits %}
            <tr>
                <td>{{ genre_produit.id }}</td>
                <td>{{ genre_produit.genre }}</td>
                <td>
                    <a href="{{ path('app_genre_produit_show', {'id': genre_produit.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_genre_produit_edit', {'id': genre_produit.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_genre_produit_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
