{% extends 'base.html.twig' %}

{% block title %}Liste des Fournisseurs{% endblock %}

{% block body %}
    <h1>Liste des Fournisseurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Sigle</th>
                <th>Nif</th>
                <th>Stat</th>
                <th>Rcs</th>
                <th>Mail</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.id }}</td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.sigle }}</td>
                <td>{{ fournisseur.nif }}</td>
                <td>{{ fournisseur.stat }}</td>
                <td>{{ fournisseur.rcs }}</td>
                <td>{{ fournisseur.mail }}</td>
                <td>{{ fournisseur.telephone }}</td>
                <td>
                    <a href="{{ path('app_fournisseur_show', {'id': fournisseur.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fournisseur_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
