{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ fournisseur.sigle }}</td>
            </tr>
            <tr>
                <th>Nif</th>
                <td>{{ fournisseur.nif }}</td>
            </tr>
            <tr>
                <th>Stat</th>
                <td>{{ fournisseur.stat }}</td>
            </tr>
            <tr>
                <th>Rcs</th>
                <td>{{ fournisseur.rcs }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ fournisseur.mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ fournisseur.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fournisseur_index') }}">back to list</a>

    <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
{% endblock %}
