{% extends 'base.html.twig' %}

{% block title %}Liste des Etats{% endblock %}

{% block body %}
    <h1>Liste des Etats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td>{{ etat.id }}</td>
                <td>{{ etat.etat }}</td>
                <td>
                    <a href="{{ path('app_etat_show', {'id': etat.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_etat_edit', {'id': etat.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etat_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
