{% extends 'base.html.twig' %}

{% block title %}Etat{% endblock %}

{% block body %}
    <h1>Etat</h1>

    <table class="table">
        <tbody>
            <!-- <tr>
                <th>Id</th>
                <td>{{ etat.id }}</td>
            </tr> -->
            <tr>
                <th>Etat</th>
                <td>{{ etat.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etat_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('app_etat_edit', {'id': etat.id}) }}" class="btn btn-success kl-bouton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
    <br>
    {{ include('etat/_delete_form.html.twig') }}
{% endblock %}
