{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ stock.quantite }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ stock.date ? stock.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}" class="btn btn-success kl-bouton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
    <br>
    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
