{% extends 'base.html.twig' %}

{% block title %}Expédition Materiel{% endblock %}

{% block body %}
    <h1>Expédition Materiel</h1>

    <table class="table">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Produit</th>
                <th>Service</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Référence</th>
                <th>Numéro de Série</th>
                <th>Observation</th>
                <!-- <th>actions</th> -->
            </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <!-- <td>{{ materiel.id }}</td> -->
                <td>{{ materiel.produit }}</td>
                <td>{{ materiel.service }}</td>
                <td>{{ materiel.date ? materiel.date|date('d/m/Y') : '' }}</td>
                <td>{{ materiel.etat }}</td>
                <td>{{ materiel.reference }}</td>
                <td>{{ materiel.serie }}</td>
                <td>{{ materiel.observation }}</td>
                <!-- <td>
                    <a href="{{ path('app_materiel_show', {'id': materiel.id}) }}">show</a>
                    <a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">edit</a>
                </td> -->
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <a href="{{ path('app_materiel_new') }}">Create new</a> -->
{% endblock %}
